{% extends "layout.html" %}
{% block content %}

<div class="container">
  <h1>Welcome to Trip Planner!</h1>

  <div class="row">
    <div id="map-canvas" class="col-md-9"></div>
    <div class="col-md-3">
      <h3>Hotels</h3>
      <select>
        {% for hotel in hotels %}
        <option>{{hotel.name}}</option>
        {% endfor %}
      </select>

      <h3>Restaurants</h3>
      <select>
        {% for restaurant in restaurants %}
        <option>{{restaurant.name}}</option>
        {% endfor %}
      </select>

      <h3>Activity</h3>
      <select>
        {% for activity in activities %}
        <option>{{activity.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% endblock %}
